<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div class="alert">
      <h2 class="font-bold"><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul class="list-disc list-inside">
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4 flex flex-row space-x-8">
    <div class="flex flex-col">
      <%= form.label 'Content to quiz you on', class: 'label' %>
      <%= form.collection_check_boxes :content_ids, current_user.contents.all, :id, :summary do |content| %>
        <div class="flex flex-row items-center space-x-4">
          <%= content.check_box class: 'checkbox' %>
          <%= content.label %>
        </div>
      <% end %>
    </div>

    <div class="flex flex-col">
      <%= form.label 'Tags', class: 'label' %>
      <div class="flex flex-col">
        <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :summary do |content| %>
          <div class="flex flex-row items-center space-x-4">
            <%= content.check_box class: 'checkbox' %>
            <%= content.label %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex flex-row space-x-4 justify-end items-center">
    <%= link_to 'Back', contents_path, class: 'secondary-button' %>
    <%= form.submit class: 'primary-button' %>
  </div>
<% end %>
