<%= link_to 'â† Back', contents_path, class: "text-md text-neutral-500" %>
<h1 class="heading-1">Your Quiz</h1>
<ul class="flex flex-col space-y-4 w-full list-decimal list-inside">
  <% @questions.each_with_index do |question, i| %>
      <li class="card flex flex-row quiz-card" id="<%= i + 1 %>">
        <span class="mr-2"><%= i + 1 %>.</span>
        <ul class="inline-block">
          <li><b>Q: </b><%= question.question %></li>
          <li>
            <b>A: </b>
            <span class="hint">&lt;Click to reveal...&gt;</span>
            <span class="answer hidden"><%= question.answer %></span></li>
        </ul>
      </li>
  <% end %>
</ul>
